@import "reset";
@import "variables";
@import "mixins";
@import "nav";
@import "login";
@import "trips";
@import "booking";
@import "travelers";

body {
  margin: 0;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
  font-family: "Open Sans";
  list-style-type: none;
  @include bold();
}


.main-section {
  background-color: $dark;
  height: 100vh;
  @include flexin();
}

.hidden,
.page {
  display: none;
  width: 100vw;
}

.pending {
  background-color: $medium-light;
  opacity: 90%;
}

.approved {
  background-color: $medium;
  opacity: 90%;
}

.selected {
  border: solid 2px $accent;
}

.displayed {
  display: flex;
}

.active {
  display: flex;
  width: 100vw;
}

.err {
  display: block;
}
